<h1>Employee Details</h1>

<h3><%= link_to 'New', new_employee_path %></h3>
<style>
  table, th, td {
    border: 1px solid black;
    border-collapse:collapse;
  }
  </style>

<table style="width:100%">
  <thead>
  <tr>
    <td> Name </td>
    <td> Age </td>
    <td> Gender </td>
    <td> Designation </td>
    <td> Edit </td>
    <td> Delete </td>
  </tr>
</thead>
<tbody>
  <% @employees.each do |employee| %>
  <tr>
    <td><%= link_to employee.name, employee_path(employee.id)%></td>
    <td><%= employee.age %></td>
    <td><%= employee.gender %></td>
    <td><%= employee.designation %></td>
    <td><%= link_to 'Edit', edit_employee_path(employee.id) %></td>
    <td><%= button_to 'Delete', employee_path(employee),data: {turbo_confirm:'Are you sure?'}, method: :delete %></td>
    <% end %>
  </tbody>
</table>
