<h1>Employee Details</h1>
<%= @employee.name %>
<div><%= @employee.age %></div>
<div><%= @employee.gender %></div>
<div><%= @employee.designation %></div>

<%= link_to 'back', employees_path %>
